<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style> 

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-header></app-header>


<div class="wrapper">
    <header class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="content">
                  <div class="pull-middle" >
                    <h1 class="page-header">Our Services</h1>
					<h4>
						As part of the world’s largest classified business group,
						 Vehica has created Vehica Autos to transform the way used-cars are traded in India.
						  With our worldwide expertise we are today growing in India with centres in Delhi, Mumbai, Hyderabad, Bangalore,
						   Chennai and Pune enabling car owners to easily sell their cars through our secure and hassle-free process.</h4>
                  <h3>Our team</h3>
						   <ul>
					  
						<li>Praesent nibh luctus viverra</li>
						<li>Adipiscing elit</li>
						<li>Tempor incididunt ut labore</li>
						<li>	Quis ipsum suspendisseviverra</li>
						<li>	Maecenas ac</li>
				  </ul>
                  </div>              
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                <div class="phone">
                    <img class="img-responsive img-rounded" src="assets/img/customer-care.jpg">
                </div>
            </div>
          </div>
        </div>
    </header>
    <section class="section" style="margin-top: -67px;background-color: #ffe;">
        <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="assets/img/customer-care-1.jpg">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="h1 page-header">A new standard in used cars sales</h2>
                            <ul class="media-list">
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading">You can now get your car inspected and sold at a fair
									   price through our safe and hassle free process. Our nationwide network of purchase centers use an internally
									   developed algorithm, and a professionally trained team to conduct inspections.</h4>
                                  <p>Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-lock icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Transparent Inspection

									</h3>
                                  <p>Integer .</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Get a price upfront
									
									
									</h3>
                                  <p>
									Sell in any condition</p>
                                </div>
                              </li>
							  <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Fast, safe and easy sale
									
									
									</h3>
                                  <p>
									Sell Immediately
                                </div>
                              </li>
							  <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Sell Immediately
									
									
									</h3>
                                  <p>
									
									Sell Immediately
									
                                </div>
                              </li>
							  <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Sell in any condition
									
									
									</h3>
                                  <p>
									
									
									Sell in any condition</p>
                                </div>
                              </li>
							  <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Get paid safely into your account
									
									
									</h3>
                                  <p>
									
									
									Sell in any condition</p>
                                </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<section class="section "style="margin-top: -67px;background-color: #ffe;">
        <div class="container">
            <div class="row">
               <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded" src="assets/img/customer-care-1.jpg">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="content">
                        <div class="pull-middle">
                            <h2 class="h1 page-header">Vehica Cars</h2>
                            <ul class="media-list">
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-cloud icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">A Bit About Us</h3>
                                  <p>
									We, Vehica Cars, situated at Chennai Ho, Chennai, Tamil Nadu are one of the most trusted second hand car dealer in the city.
									 We are leading second hand car dealer where you can buy a used car of any brand. Our mission is to bring joy & delight into car buying & ownership.
									  It’s as simple as that. We believe in the quality & dependability of our used cars.
									 Keeping in mind the customer’s expectations and concerns our expert team gets a right car for you.</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-lock icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">We are Fair and Affordable

									</h3>
                                  <p>
									We guarantee affordable prices than any other dealer and our guarantee to get you assured.</p>
                                </div>
                              </li>
                              <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">	Good Reputation
									
									
									</h3>
                                  <p>
								
We deal with accident free vehicles and who have had a good record on the road for a number of years.</p>
                                </div>
                              </li>
							  <li class="media">
                                <a class="media-left" href="#">
                                  <span class="glyphicon glyphicon-user icon text-success"></span>
                                </a>
                                <div class="media-body">
                                  <h3 class="media-heading">Our Experience
									
									
									</h3>
                                  <p>
									
									Keeping in mind the customer’s expectations and concerns our expert team gets a right car for you.
                                </div>
                              </li>
							
						
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>

<div class="container section "style="margin-top: -67px;background-color: #ffe;">
	<div class="row">
        <div class="span12">
          <h5><i class="icon icon-globe"></i> Description 1</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
 
        <div class="span12">
          <h5><i class="icon-ok"></i> Description 2</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="span12">
          <h5><i class="icon-bold"></i> Description 3</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="span12">
          <h5><i class="icon icon-star"></i> Description 4</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
	</div>
</div>
</section>
</div>

<app-footer></app-footer>
